body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
@font-face {
    font-family: Font4;
    src: url(../assets/fonts/Discord4.woff2);
}
@font-face {
    font-family:Font3 ;
    src: url(../assets/fonts/Discord3.woff);
}
@font-face {
    font-family:Font5 ;
    src: url(../assets/fonts/Discord5.woff2);
}

.titulo{
    padding: 2em;
    background-color: black;
    font-family: Font4;
    color: white;
    text-align: center;
    font-size: 2em;
}

.container{

}

.areafilme1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color:gray;
    margin:0em 2em 1em 2em;
}
.areafilme3 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color:gray;
    margin:0em 2em 1em 2em;
} 

.areafilme5 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color:gray;
    margin:0em 2em 1em 2em;
}
.areafilme2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: brown;
    margin:0em 2em 1em 2em;
}
.areafilme4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:0em 2em 1em 2em;
    background-color: brown;
}

.areafilme6{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin:0em 2em 1em 2em;
    background-color: brown;
}
.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 5em 0em 5em;
    font-family: Font4;
    font-size: 1.5em;

    
}

.nomefilme{
    display: flex;
    align-items: center;
    font-family: Font3;
    width: 5em;
    font-weight:normal;
    

}

.ilustracao img{
    height: auto;
    width: 15em;

}

footer{
    background-color: black;
    padding: 2em;
}
.fim{
    color: blanchedalmond;
    font-family: Font5;
    text-align: center;
}